body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.traders-grid-homepage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  background-color: #000000;
}

.traders-grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 10px 10px;
  font-size: 30px;
}